@page
@model FleetManager.Pages.RegistrosUso.DeleteModel
@{
    ViewData["Title"] = "Eliminar Registro de Uso";
}

<h1>Eliminar Registro de Uso</h1>

<h4>¿Estás seguro de que deseas eliminar este registro de uso?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">Vehículo</dt>
        <dd class="col-sm-10">@Model.RegistroUso.Vehiculo.Placa</dd>
        <dt class="col-sm-2">Fecha</dt>
        <dd class="col-sm-10">@Model.RegistroUso.Fecha.ToShortDateString()</dd>
        <dt class="col-sm-2">Kilometraje Inicio</dt>
        <dd class="col-sm-10">@Model.RegistroUso.KilometrajeInicio</dd>
        <dt class="col-sm-2">Kilometraje Fin</dt>
        <dd class="col-sm-10">@Model.RegistroUso.KilometrajeFin</dd>
    </dl>
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
